.container-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.container-project h1 {
    color: #fff;
    margin-bottom: 40px;
}
.images-row {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}
.img-project{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #11111186;
    border-radius: 10px;    
    
}

.img-project:hover {
    box-shadow: 0 0 10px #3479f0;
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.img-project video {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    border-radius: 10px;
    height: 200px;
}
.img-project h1 {
    color: #fff;
    max-width: 350px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    padding: 0;
}
.img-project p {
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 270px;
    text-align: left;
    padding-left: 5rem;
    padding-left: 15px;
}
.button-project {
    border-color: #3479f0;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.button-project:hover {
    background-color: #255ec1;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
