.container{
    display: flex;
    background-color: #4c4c4cbd;
    transition: background-color 1.0s ease;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-buttons {
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 0;
  padding: 20px 3vw;
  transition: all 100s ease;
}
.container-buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}

.container-buttons button:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  transition: text-decoration-color 0.5s ease;
}
.container-hamburger {
  display: none;
  justify-content: flex-end;
  padding: 14px 3vw;
  color: #fff;
}
@media (max-width: 560px) {
.container{
  display: flex;
  flex-direction: column;
  background-color: #11111186;
  align-items: flex-start;
  position: none;
} 
.container-buttons {
  display: flex;
  padding: 20px 3vw; 
  transition: all 100s ease;
  
}
.container-hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  position: absolute;
  right: 10px;
  top: -5px;
}
.container-buttons.open{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 55px;
  padding: 0;
  background-color: #11111186;
  transition: color 1.5s ease;
}

.text-button {
  display: flex;
  flex-direction: column;
}
.container-buttons.open button{
 display: flex;
 padding: 5px 20px;
 margin-top: 0;
 text-align: left;
 padding-bottom: 5px;
 width: 100%;
}
.container-buttons.close{
  display: none;
}

}