/* Container geral do footer */
.container-footer-icons {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 23px;
  background-color: #11111186;
}

/* Cada slide de ícone */
.icon-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: auto;
  color: #255ec1;
  padding: 0 10px;
}

/* Swiper container */
.swiper-footer {
  width: 100%;
  
}

/* Transição linear para movimento suave */
.swiper-slide {
  transition: transform 0.05s linear !important;
}
