.carrosel-containel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.carrosel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #3479f0;
}

