* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.container-App {
  background-color: #4c4c4c;
  min-height: 100vh;
}