.container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 20px;
}
.container-aboutMe-content {
    display: flex;
    margin: 10px 0px 0px 10vw;
    
}
.container-aboutMe-image img{
    max-width: 8rem;
    border-radius: 50%;   
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}
.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-aboutMe-certificados-images{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-certificado{
    margin: 10px 0px 0px 4vw;
    
}
.image-certificado img{
    max-width: 20rem;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
     
}
.image-certificado img:hover {
    transform: scale(1.05);
    transition: transform 0.9s ease;  
    box-shadow: 0px 0px 10px 5px #255ec1;
}

@media (min-width: 460px) and (max-width: 580px) {
    .container-aboutMe-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container-aboutMe-text {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container-aboutMe-certificados-images{
        flex-direction: column;
        align-items: center;
    }
    .image-certificado img{
        max-width: 90%;
        margin: 10px 0px 10px 20px;
    }

}
@media (min-width: 581px) and (max-width: 759px) {
    .container-aboutMe-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container-aboutMe-text {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container-aboutMe-certificados-images{
        flex-direction: column;
        align-items: center;
    }
    .image-certificado img{
        max-width: 40%;
        margin: 10px 0px 10px 20px;
    }
}
@media (min-width: 760px) and (max-width: 1024px) {
    .container-aboutMe-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container-aboutMe-text {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container-aboutMe-certificados-images{
        flex-direction: row;
        justify-content: center;
    }
    .image-certificado img{
        max-width: 45%;
        margin: 10px 15px 10px 15px;
    }
}
