.container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 20px;
}
.container-aboutMe-content {
    display: flex;
    margin: 10px 0px 0px 10vw;
    
}
.container-aboutMe-image img{
    max-width: 8rem;
    border-radius: 50%;   
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}
.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-aboutMe-certificados-images{
    display: flex;
    margin-top: 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}
.image-certificado{
    margin: 10px 0px 0px 4vw;
    
}
.image-certificado img{
    max-width: 20rem;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
     
}
.image-certificado img:hover {
    transform: scale(1.05);
    transition: transform 0.9s ease;  
    box-shadow: 0px 0px 10px 5px #255ec1;
}

.swiper-carrosel {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
}

.swiper-slide {
  flex: 0 0 auto; /* mantém o tamanho do slide */
}

.swiper-slide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.carrossel-infinito {
  overflow: hidden;
  width: 100%;
  
}

.carrossel-track {
max-width: 98.5vw;
  padding-bottom: 10px;  
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
  animation: slide 20s infinite; /* rotação contínua */
}

.carrossel-track img {
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.carrossel-track img:hover {
    box-shadow: 10px 10px 10px solid #255ec1;
    cursor: pointer;
    border-color: 10px solid #255ec1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* metade da faixa, por isso duplicamos */
  }
}


@media (max-width: 600px) {
   .container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 40px;
}
.container-aboutMe-content {
    display: flex;
    margin: 30px 0px 0px 10vw;
    
}
.container-aboutMe-image img{
    max-width: 8rem;
    border-radius: 50%;   
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}

.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-aboutMe-certificados-images{
    display: flex;
    margin-top: 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}
.image-certificado{
    margin: 10px 0px 0px 4vw;
    
}
.image-certificado img{
    max-width: 20rem;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px; 
     
}
.image-certificado img:hover {
    transform: scale(1.05);
    transition: transform 0.9s ease;  
    box-shadow: 0px 0px 10px 5px #255ec1;
}

.swiper-carrosel {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
}

.swiper-slide {
  flex: 0 0 auto; /* mantém o tamanho do slide */
}

.swiper-slide img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.carrossel-infinito {
  overflow: hidden;
  width: 100%;
  
}

.carrossel-track {
max-width: 98.5vw;
  padding-bottom: 40px;  
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
  animation: slide 20s infinite; /* rotação contínua */
}

.carrossel-track img {
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.carrossel-track img:hover {
    box-shadow: 10px 10px 10px solid #255ec1;
    cursor: pointer;
    border-color: 10px solid #255ec1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* metade da faixa, por isso duplicamos */
  }
}


    

}
@media (min-width: 581px) and (max-width: 759px) {
    .container-aboutMe-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container-aboutMe-text {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container-aboutMe-certificados-images{
        flex-direction: column;
        align-items: center;
    }
    .image-certificado img{
        max-width: 40%;
        margin: 10px 0px 10px 20px;
    }
}
@media (min-width: 760px) and (max-width: 1024px) {
    .container-aboutMe-content {
        flex-direction: column;
        align-items: center;
        margin: 10px 0px 0px 0px;
    }
    .container-aboutMe-text {
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container-aboutMe-certificados-images{
        flex-direction: row;
        justify-content: center;
    }
    .image-certificado img{
        max-width: 45%;
        margin: 10px 15px 10px 15px;
    }
}
