.container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 20px;
}
.container-aboutMe-content {
    display: flex;
    margin: 10px 0px 0px 10vw;
    
}
.container-aboutMe-image img{
    max-width: 8rem;
    border-radius: 50%;   
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}
.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.carrosel-infinit{
  width: 100%; 
  overflow: hidden;
  margin: 10px 7vw 10px 7vw;
}
.carrossel-track {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
  animation: slide 20s infinite; /* rotação contínua */
}

.carrossel-track img {
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.carrossel-track img:hover {
    box-shadow: 10px 10px 10px solid #255ec1;
    cursor: pointer;
    border-color: 10px solid #255ec1;
}

@media (max-width: 600px) {
   .container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 40px;
}
.container-aboutMe-content {
    display: flex;
    margin: 30px 0px 0px 10vw;
    
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}

.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.carrosel-infinit{
  width: 42%; 
  overflow: hidden;
  margin: 10px 10px 10px 10px
}

.carrossel-track {
max-width: 98.5vw;
  padding-bottom: 40px;  
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
  animation: slide 20s infinite; /* rotação contínua */
}

.carrossel-track img {
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.carrossel-track img:hover {
    box-shadow: 10px 10px 10px solid #255ec1;
    cursor: pointer;
    border-color: 10px solid #255ec1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* metade da faixa, por isso duplicamos */
  }
} 

}

@media (min-width: 601px) and (max-width: 800px) {
     .container-aboutMe {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-aboutMe-title {
    margin-top: 40px;
}
.container-aboutMe-content {
    display: flex;
    margin: 30px 0px 0px 10vw;
    
}
.container-aboutMe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;  
    margin: 0px 40px 0px 40px;
    text-align: left;

}

.container-aboutMe-text p {
    font-size: 1rem;
    margin-top: 5px;
}
.container-aboutMe-certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.carrosel-infinit{
  width: 95vw; 
  overflow: hidden;
  margin: 10px 10px 10px 10px
}

.carrossel-track {
max-width: 98.5vw;
  padding-bottom: 40px;  
  display: flex;
  flex-wrap: nowrap; /* nunca quebra linha */
  animation: slide 20s infinite; /* rotação contínua */
}

.carrossel-track img {
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.carrossel-track img:hover {
    box-shadow: 10px 10px 10px solid #255ec1;
    cursor: pointer;
    border-color: 10px solid #255ec1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* metade da faixa, por isso duplicamos */
  }
} 
}
